<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        background-color: #333;
        color: #fff;
        padding: 10px;
      }

      nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
      }

      nav li {
        display: inline-block;
        margin: 0 10px;
      }

      nav li a {
        color: #fff;
        text-decoration: none;
      }

      nav li a:hover {
        text-decoration: underline;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/user">Главная</a></li>
          <li><a href="/about">О нас</a></li>
          <li><a href="/admin_login">Войти как администратор</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
